<!DOCTYPE html>
<head>
    <title>Arduiknow - Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <div id="root">
        <div id="header">
            <h1>Arduiknow - Contact Us</h1>
            <div id="navbar">
                <a href="projects.html" class="button button-a">Projects</a>
                <a href="shop.html" class="button button-a">Shop</a>
                <a href="admin.html" class="button button-b">Admin</a>
            </div>
        </div>
        <div id="content">
            <div id="form">
                <p>Leave a comment or suggest a new project: </p>
                <label>Name: </label><input type="text" v-model="name" />
                <textarea rows="4" v-model="comment" v-on:click="clearComment"></textarea>
                <button type="button" v-on:click="submitComment()" class="button button-b">Submit</button>
            </div>
        </div>
        <div id="footer">
            <a href="https://github.com/rm13082016/creativeProjectNode" class="button button-a">URL to Github</a>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script type="text/javascript" src="../scripts/contact.js"></script>
</body>